.navigation{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.navigation img {
  max-width: 130px;
  

}

.navigation ul{
  font-size: 30px;
  list-style: none;
  display: flex;
  gap: 20px;
}
.primary a
{
  color: #f9f8fa;
}

.hero-section{
  background-color: #1f2937;
  color: #f9f8fa;
  font-size:48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid #1f2937;
  padding: 50px;
  margin:0px 0px 100px 0px;
}

button{
  background-color: #3882f6;
  font-size: 40px;
  color: #1f2937;
}
button a{
  color: white;
}

.sectionone {
  background-color: #1f2937;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.sectionone img {
  max-inline-size: 300px;
}


img{
  max-width:300px;
}

.images{
  border: 5px solid #1f2937;
  border-radius: 10px;
  display:flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 100px;
}

.Testimonial{
  background-color:#E5E7EB;
  font-size:36px;
  font-weight:300;
  color:#1f2937;
  margin-bottom:100px;
  }
  
  .callup{
    background: #3882f6;
    color: #f9f8fa;
    box-sizing: content-box;
    margin: 10px 100px 100px 100px;
    padding: 10px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
  }

 .callup button{
   font-size: 30px;
   background-color: #3882f6;
   color: white;
 }
 
 
 .subtext {
   display: flex;
   gap: 30px;
 }
 
 .subtext img{
   border-radius: 20px;
 }
 
 footer{
   text-align: center;
   font-size: 30px;
   background-color: #1f2937;
   padding: 20px;
   color: white;
 }
 